<%- include header %>

<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
        <br>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 toppad">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><%=data[0].first_name%> <%=data[0].last_name%></h3>
            </div>
            <div class="panel-body">
                <form id="account_form" class="form-horizontal" role="form" method="post" action="/home/profile" enctype="multipart/form-data">

                    <div class="row">
                        <div class="form-group">
                            <label for="first_name" class="col-md-3 control-label">First Name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="first_name" value=<%=data[0].first_name%> ></input>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="last_name" class="col-md-3 control-label">Last Name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="last_name" value=<%=data[0].last_name%>></input>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">Email</label>
                            <div class="col-md-8">
                                <%=data[0].email%>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="user_name" class="col-md-3 control-label">User Name</label>
                            <div class="col-md-8">
                                <%=data[0].user_name%>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="password" class="col-md-3 control-label">Password</label>
                            <div class="col-md-8">
                                <input type="password" class="form-control" name="password" value=<%=data[0].password%> ></input>
                            </div>
                        </div>
                    </div>

                </form>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-success" id="update_acct_button" onClick="submit_account_changes()">Save</button><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of panel -->

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Public Key</h3>
            </div>
            <div class="panel-body">
                <center>
                    <div class="row">
                        <div class="col-12">
                            <h4> <%=String(data[0].user_name)%> </h4>
                        </div>
                    </div>
                    <div class="panel panel-info form-group col-sm-10 col-sm-offset-1">
                        <div class="row">
                            <!--<div class="col-xs-12 pre-scrollable" style="min-height:45px;max-height:45px;">-->
                            <div class="col-xs-12" style="word-wrap: break-word;">
                                <h4> <%=String(data[0].public_key)%> </h4>
                            </div>
                        </div>
                    </div>
                </center>
                <div class="row">
                    <div class="panel panel-info col-md-6 col-md-offset-3">
                        <div class="container-fluid">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button onclick="generate_keys()" type="button" id="generate_keys" class="btn btn-danger" disabled><i class="icon-hand-right"></i>Generate Keys</button>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="checkbox" class="form-check-input" id="generate_confirm" onchange="handle_checkbox()">Reset Key</input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="help-block">
                    <center><i>Warning: resetting your keys means you cannot receive any more contracts sent to this public key.</i></center>
                </span>

            </div>
        </div>

    </div>
</div>
</div>
</div>

<script>
    $( function() {
        $("#nav_profile").tab("show");
        $("#update_acct_button").prop("disabled",false);
        count_contracts();
    });



    function generate_keys() {
        console.log("generating keys");
        var keys_generated = function(data){
            console.log(data);
            download('private_key.txt', data);
        }
        $.post("/api/1/generate_keys", null, keys_generated);

        location.reload();
    }

    function download(filename, text) {
      var element = document.createElement('a');
      element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
      element.setAttribute('download', filename);

      element.style.display = 'none';
      document.body.appendChild(element);

      element.click();

      document.body.removeChild(element);
    }


    function handle_checkbox() {
        console.log('checked');
        if ($("#generate_confirm").is(":checked") ) {

            $("#generate_keys").prop("disabled",false);
        }
        else {
            $("#generate_keys").prop("disabled",true);
        }
    }

    function check_changes() {

    }

</script>
 <%- include footer %>
